{% extends "blog/base.html" %}
{% block content %}
    <div class="move"></div>
    <div class="postDetail">
        <form method = "POST">
            {% csrf_token %}
                <h1>  Delete : {{object.title}}</h1>
                </br>
            <div class="form-group">
                <button class="btn2 red-btn" type="submit">Delete</button>
                <button class="btn2" href="{% url 'post-detail' object.pk %}">Cancel</button>
            </div>
        </form>
        


    </div>
{% endblock content%}