{% extends "blog/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="move"></div>
    <div class="postDetail">
        <form method = "POST">
            {% csrf_token %}
            
            
                {{ form|crispy}} 
            
            <div class="form-group">
                <button class = "btn2" type="submit">Post</button>
                <button class = "btn2" href="{% url 'blog-home' %}">Cancel</button>
            </div>
        </form>
        


    </div>
{% endblock content%}