{% extends "blog/base.html" %} 
{% block content %}
    <div class="move"></div>
    <div class="postDetail">
        <img class = "postDetailImg"src="{{object.author.profile.image.url}}">
        <div class = "postDetailInfo">
            <div class = "infoTop">
                by&nbsp<a class = "userLink"href="{% url 'user-posts' object.author.username %}">{{object.author}}</a>on {{object.date_posted|date:"F d, Y"}}
            </div>
            <hr>
            <div class="infoBot">
            <a class="postTitle"href="{% url 'post-detail' object.pk %}">{{ object.title }}<a>
        
            <p class="postContent">{{object.content}}</p>
            </div>
        </div>
    </div>
    
    {% if user == object.author %}
    <div class="btns">
    <a class = "btn" href="{% url 'post-update' object.pk %}">Update</a>
    <a class = "btn" href="{% url 'post-delete' object.pk %}">Delete</a>
    </div>
    {% endif %}
    


{% endblock content%} 