{% extends "blog/base.html" %} 
{% block content %}

    
    <div class="post">
        <h1>{{ object.author }}</h1>
        <h1>{{ object.title }}</h1>
        <p>By <a href="{% url 'user-posts' object.author.username %}">{{object.author}}</a> on {{object.date_posted|date:"F d, Y"}}</p>
        <p>{{object.content}}</p>
    </div>
    {% if user == object.author %}
    <a href="{% url 'post-update' object.pk %}">Update</a>
    {% endif %}
    <a href="{% url 'post-delete' object.pk %}">Delete</a>


{% endblock content%} 