{% extends "blog/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="move"></div>
    <div class="postDetail">
        <div>
        <form method = "POST">
            {% csrf_token %}
            
                
                {{ form|crispy}} 
            
            <div class="form-group">
                <button class="btn2-small" type="submit">Sign Up</button>
            </div>
        </form>
        

        <div >
            <small>
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
        </div>
    </div>
{% endblock content%}